<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eyal</title>
</head>
<style>
    body{
        background-color: #404040;
    }

    #menu{
        background-color: #262626;
        height: 6%;
        width: 100%;
        position: absolute;
        top: 0%;
        left: 0%

    }

    #h1{
        position: absolute;
        top: -1%;
    }

    h2{
        position: absolute;
        top: 10%;
        left: 0%
    }

</style>

<body>
    <div id="menu">

    </div>

    <h1 id="h1">EYAL</h1>

    <h2>flag: 123456789e</h2>

</body>
</html>